@font-face {
  font-family: hack;
  src: url(../fonts/hack-regular.woff);
}

.center {
  margin: auto;
  width: 97vh;
  height: 96vh;
  border: 3px solid #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e1e1e;
}

.links, .links:viewed {
  color: #ffffff;
}
.links:active, .links:viewed:active {
  color: #007acc;
}

body {
  background-color:	#2d2d30;
  color: #ffffff;
  font-family: hack;
  font-size: 22px;
}
