@font-face {
  font-family: hack;
  src: url(../fonts/hack-regular.woff);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: hack;
  font-size: 12px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

a.icon {
  font-size: 22px;
  color: #000000;
  transition: 0.3s;
  float: left;
}
a.icon:hover {
  font-size: 22px;
  color: #0576c2;
}

a {
  font-size: 22px;
  color: #108dd6;
  transition: 0.3s;
}
a:hover {
  font-size: 22px;
  color: #3baaeb;
}
