---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import TerminalText from './TerminalText';
---

<div id="container">
	<TerminalText client:load />
</div>